<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Main Page">
<title>Match Students</title>

<!-- CSS only -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
</head>
<body>
  <!-- NavBar-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="mainNav">
    <div class="container px-4">
        <a class="navbar-brand" href={{url_for('main')}}>Internship Allocation Portal</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href={{url_for('upload_data')}}>Upload Data</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href={{url_for('match_student')}}>Match Students</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href={{url_for('prepare_email')}}>Prepare Emails</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href={{url_for('settings')}}>Settings</a>
              </li>
            </ul>
          </div>
      </div>
  </nav>
 
  <!-- Header -->
  <header class="text-black" style="background-color: #FFDB58; padding: 2em; padding-bottom: 0.5em;">
    <div class="container px-4 text-left">
        <h1 class="page-header">Match Students</h1>
        <hr/>
    </div>
  </header>

  <!-- Section -->
  <section id="section" style="background-color: #FFDB58; padding: 2em;">
    <div class="container px-4 text-left">
        <div class="row gx-4 justify-content-center">
          <table>
            <tr>
              <th>Student Name</th>
              <th>Student Preference</th>
              <th>Company Name</th>
              <th>Status</th>
            </tr>
            <tr>
              <td>StudentName1</td>
              <td>StudentPreference1</td>
              <td>CompanyName1 - Role1</td>
              <td>
                <select name="status" id="status">
                  <option value="unassigned">Unassigned</option>
                  <option value="pending_confirmation">Pending confirmation</option>
                  <option value="confirmed">Confirmed</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>StudentName2</td>
              <td>StudentPreference2</td>
              <td>CompanyName2 - Role2</td>
              <td>
                <select name="status" id="status">
                  <option value="unassigned">Unassigned</option>
                  <option value="pending_confirmation">Pending confirmation</option>
                  <option value="confirmed">Confirmed</option>
                </select>
              </td>
            </tr>
          </table>
        </div>
    </div>
  </section>
</body>
</html>